<a href="https://colab.research.google.com/github/ayanga1998/DRL-trading-system/blob/main/CoinAPI_Data_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import json
import pprint 
import os
import pandas as pd

## Request data from the CoinAPI's Market Data REST API
* Extract hourly open, high, low, close, and volume (OHLCV) data from the REST API for Ethereum

In [ ]:
api_key = '7DA58D89-4099-48F0-80A2-CE6534A2C86B' # Insert your API Key Here
coin = 'ETH'
period = '1HRS'
time_start = '2015-08-07T14:49:30'
time_end = '2021-10-10T20:19:02'

url = "https://rest.coinapi.io/v1/ohlcv/"+coin+"/USD/history?period_id="+period+"&time_start="+time_start+"&time_end="+time_end+"&limit=100000"
headers = {"X-CoinAPI-Key" : api_key}
response = requests.get(url, headers = headers)

if(response.status_code == 429):
    # API response
    print("Too many requests.")

In [ ]:
coin_data  = json.loads(response.text)
eth_data = pd.DataFrame(coin_data)
eth_data.tail()

                  time_period_start  ... trades_count
46479  2021-10-10T16:00:00.0000000Z  ...        11675
46480  2021-10-10T17:00:00.0000000Z  ...        15484
46481  2021-10-10T18:00:00.0000000Z  ...        11683
46482  2021-10-10T19:00:00.0000000Z  ...        10519
46483  2021-10-10T20:00:00.0000000Z  ...        20385

[5 rows x 10 columns]

In [ ]:
eth_data.rename(columns = {
    "time_period_start": "Start Time",
    "time_period_end": "End Time",
    "time_open": "Open Time",
    "time_close": "Close Time",
    "price_open": "Price Open",
    "price_high": "Price High",
    "price_low": "Price Low",
    "price_close": "Price Close",
    "volume_traded": "Volume Traded",
    "trades_count": "Trade Count",
}, inplace = True)

In [ ]:
reorder_columns = [
    'Start Time',
    'Price Open',
    'Price Close',
    'Price High',
    'Price Low',
    'Volume Traded',
    'Trade Count'
]

eth_data.drop(["End Time", "Open Time", "Close Time"], axis = "columns", inplace = True)
eth_data = eth_data.reindex(columns = reorder_columns)

In [ ]:
eth_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46484 entries, 0 to 46483
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Start Time     46484 non-null  datetime64[ns, UTC]
 1   Price Open     46484 non-null  float64
 2   Price Close    46484 non-null  float64
 3   Price High     46484 non-null  float64
 4   Price Low      46484 non-null  float64
 5   Volume Traded  46484 non-null  float64
 6   Trade Count    46484 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 2.5 MB

In [ ]:
eth_data["Start Time"] = pd.to_datetime(eth_data["Start Time"])

In [ ]:
eth_data.head()

                 Start Time  Price Open  ...  Volume Traded  Trade Count
0 2016-05-09 13:00:00+00:00       12.00  ...     432.562115           16
1 2016-05-09 14:00:00+00:00       10.00  ...     235.774075            8
2 2016-05-09 15:00:00+00:00        9.99  ...      10.973567            2
3 2016-05-09 16:00:00+00:00        9.79  ...      62.379450            3
4 2016-05-09 17:00:00+00:00        9.79  ...     329.553213           10

[5 rows x 7 columns]